<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>What's out there, I wonder..!</h4>
    </div>
    <div class="col-xs-9">
      <p>Hello, World!</p>
      <table class="table">
        <tr>
          <td>E</td>
          <td>X</td>
          <td>G</td>
        </tr>
      </table>
      <hr />
    </div>
  </div>
</div>
