<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>What's out there, I wonder..!</h4>
    </div>
    <div class="col-xs-9">
      <p>Hello, World!</p>
      <table class="table">
        <tr>
          <td>E</td>
          <td>X</td>
          <td>G</td>
        </tr>
      </table>
      <hr />
    </div>
  </div>
</div>

<div class="span8 welcome-image">
  <div id="myCarousel" class="carousel slide">
  
    <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <h3><img src="http://s0.geograph.org.uk/photos/10/12/101217_99277312.jpg">Seaton Park</h3>
      <p>&copy; Richard Slessor<br/>Geograph.org.uk</p>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/5/50/Allanparkcove.jpg">Allan Park</h3>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/f/fb/HazleheadGolfCourse.jpg">Hazlehead Park golfcourse</h3>
      <p>&copy; Richard Slessor<br/>Wikipedia.co.uk</p>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/e/e2/AberdeenEsplinade.jpg">Aberdeen Beach and Queens Link</h3>
      <p>Uploaded to Wikipedia.co.uk by Colin Smith</p>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/8/89/Duthie_Park_-_Winter_Gardens.jpg">Duthie Park - Winter Gardens</h3>
      <p>Uploaded by user Finavon, Wikipedia.co.uk</p>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
</div>