<div id="main-container" class="container">
  <div class="row">
    <div class="col-xs-3">
      <h4>What's out there, I wonder..!</h4>
    </div>
    <div class="col-xs-9">
      <p>Hello, World!</p>
      <table class="table">
        <tr>
          <td>E</td>
          <td>X</td>
          <td>G</td>
        </tr>
      </table>
      <hr />
    </div>
  </div>
</div>

<div class="span8 welcome-image">
  <div id="myCarousel" class="carousel slide">
  
    <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item">
      <h3><img src="http://s0.geograph.org.uk/photos/10/12/101217_99277312.jpg"><p style="margin-left:auto;margin-right:auto;">Seaton Park</p></h3>
      <p>&copy; Richard Slessor<br/>Geograph.org.uk</p>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/f/fb/HazleheadGolfCourse.jpg"><p style="margin-left:auto;margin-right:auto;">Hazlehead Park</p> golfcourse</h3>
      <p>&copy; Richard Slessor<br/>Wikipedia.co.uk</p>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/e/e2/AberdeenEsplinade.jpg"><p style="margin-left:auto;margin-right:auto;">Aberdeen Beach and Queens Link</p></h3>
      <p>Uploaded to Wikipedia.co.uk by Colin Smith</p>
    </div>
    <div class="item">
      <h3><img src="http://upload.wikimedia.org/wikipedia/commons/c/c4/Obelisk_and_Bandstand%2C_Duthie_Park%2C_Aberdeen_-_geograph.org.uk_-_1062506.jpg"><p style="margin-left:auto;margin-right:auto;">Duthie Park - Obelisk and Bandstand</p></h3>
      <p>Attribution: Bob Embleton, commons.wikipedia.org</p>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev"></a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next"></a>
</div>