<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(57.171949, -2.102436),
    zoom:12,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

function loadScript()
{
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://maps.googleapis.com/maps/api/js?key=&sensor=false&callback=initialize";
  document.body.appendChild(script);
}

window.onload = loadScript;
</script>

<% if logged_in? %>
  <select style="text-align:center;width:100px;height:25px;">
    <option value="Allan Park">Allan Park</option>
    <option value="Beach/Queens Link">Beach and Queens Link</option>
    <option value="Bon Accord Terrace Gardens">Bon Accord Terrace Gardens</option>
    <option value="Duthie Park">Duthie Park</option>
    <option value="Hazlehead Park">Hazlehead Park</option>
  </select>

  <div id="googleMap" style="width:800px; height:500px;margin:0 auto;"></div>
<% else %>
  <h4>Please log in to view the map. :) If you currently do not have an account, you can make one <em>free</em> <a href="/signup">here</a></h4>
<% end %>