<script>
function initialize()
{
  var mapProp = {
    center: new google.maps.LatLng(57.171949, -2.102436),
    zoom:12,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var map = new google.maps.Map(document.getElementById("googleMap"),mapProp);
}

function loadScript()
{
  var script = document.createElement("script");
  script.type = "text/javascript";
  script.src = "http://maps.googleapis.com/maps/api/js?key=&sensor=false&callback=initialize";
  document.body.appendChild(script);
}

window.onload = loadScript;
</script>

<div id="googleMap" style="width:800px; height:500px;margin:0 auto;" "></div>
