<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
<script type="text/javascript">
  var locations = [
    ['Allan Park', 57.114277, -2.178171, 5],
    ['Beach/Queens Links', 57.154484, -2.078304],
    ['Bon Accord Terrace Gardens', 57.141497, -2.107034],
    ['Duthie Park', 57.130426, -2.103889],
    ['Hazlehead Park', 57.139335, -2.178050],
    ['Johnston Gardens', 57.136613, -2.148836],
    ['Rubislaw and Queens Terrace Gardens',57.143633, -2.115678],
    ['Seaton Park', 57.171833, -2.102511],
    ['Stewart Park', 57.168499, -2.133878],
    ['Union Terrace Gardens', 57.147116, -2.103708],
    ['Victoria Park', 51.535101, -0.039665],
    ['Westburn Park', 57.153794, -2.122746],
    ['Westfield Park', 57.184172, -2.104933],
    ['David Welch Winter Gardens', 57.132648, -2.101810]
  ];  

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 10,
    center: new google.maps.LatLng(57.171949, -2.102436),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  });

  var infowindow = new google.maps.InfoWindow();

  var marker, i;

  for (i = 0; i < locations.length; i++) {  
    marker = new google.maps.Marker({
      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
      map: map
    });

    google.maps.event.addListener(marker, 'click', (function(marker, i) {
    return function() {
      infowindow.setContent(locations[i][0]);
      infowindow.open(map, marker);
    }
  })(marker, i));
}
</script>

<% if logged_in? %>
  <div id="map" style="width:800px; height:500px;margin:0 auto;"></div>
<% else %>
  <h4>Please log in to view the map. :) If you currently do not have an account, you can make one <em>free</em> <a href="/signup">here</a></h4>
<% end %> 