<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Opening Time</th>
    <th>Closing Time<th>
    <th>Address</th>
    <th>Bus Routes</th>
    <th>Description</th>
  </tr>
  <tr>
    <td></td>
  </tr>
</table>
